<!DOCTYPE html>
<html>
<head>

    <title>ngPourOver Example</title>

    <!-- Dependencies! -->
    <script type="text/javascript" src="js/vendor/underscore/underscore.js"></script>
    <script type="text/javascript" src="js/vendor/angular/angular.js"></script>
    <script type="text/javascript" src="js/vendor/pourover/pourover.js"></script>
    <script type="text/javascript" src="js/vendor/ng-pourover.js"></script>

    <!-- Examples! -->
    <link rel="stylesheet" type="text/css" href="css/default.css" />
    <script type="text/javascript" src="js/Default.js"></script>
    <script type="text/javascript" src="js/controllers/BeerController.js"></script>

</head>
<body ng-app="beerApp">

    <section class="beer" ng-controller="BeerController">

        <ul>
            <li ng-repeat="model in collection | poCollection">
                {{model.name}} {{model.age}}
            </li>
        </ul>

        <a href="#" ng-click="collection.filterBy('name', 'Adam', 'and')">Show only Adam</a>
        <a href="#" ng-click="collection.filterBy('age', 12, 'and')">Show only 12</a>

    </section>

</body>
</html>