* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Tahoma, Helvetica, sans-serif;
}

section.words table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

section.words table th {
    padding: 8px 8px;
    font-size: 12px;
    cursor: pointer;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .15);
    font-weight: normal;
    background-color: rgba(0, 0, 0, .8);
    color: white;
}

section.words table th:hover {
    background-color: rgba(0, 0, 0, .9);
}

section.words table th.id {
    width: 100px;
}

section.words table th.word {
    width: 180px;
}

section.words table td {
    padding: 5px 8px;
    font-size: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}

section.words table td div.options {
    border: 1px solid rgba(0, 0, 0, .25);
    float: left;
    overflow: hidden;
    border-radius: 3px;
}

section.words table td div.options a {
    color: rgba(0, 0, 0, .55);
    padding: 5px 15px;
    display: block;
    float: left;
    cursor: pointer;
    border-right: 1px solid rgba(0, 0, 0, .25);
    text-decoration: underline;
}

section.words table td div.options a:last-of-type {
    border-right: 0;
}

section.words table td div.options a:hover {
    color: black;
}

section.words table td div.options a:first-of-type {
    color: dodgerblue;
}

section.words table td div.options a:last-of-type {
    color: mediumvioletred;
}

section.words ul.filters {
    background-color: palevioletred;
    color: white;
    overflow: hidden;
    padding: 10px 0;
}

section.words ul.filters li {
    padding: 0 12px;
    border-right: 1px solid rgba(255, 255, 255, .5);
    float: left;
    overflow: hidden;
}

section.words ul.filters li:last-of-type {
    border-right: 0;
}

section.words ul.filters li a {
    color: white;
    font-size: 12px;
}